.card-feeling{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #1B2445; 
    font-family: 'Motiva Sans Bold', serif !important;
    height: 100%;
    transition: all 0.3s ease;
}
.card-feeling > .ant-card-head{
    border-bottom: 0;
    margin: 0;
    justify-content: flex-end;
    min-height: 36px;
    
}
.title-card{
    font-family: 'Motiva Sans Bold', serif !important;
    white-space: normal;
    color: #D9EAFD;
    font-size: 16px;
}
.ant-card-head-title:has(> span.title-card) {
    margin-top: 10px;
}
.emoji-icon{
    color: white;
    font-size: 32px;
}
.card-feeling:hover{
  transform: scale(1.02);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}