.row-title{
    margin: 14px 28px 4px;
    font-family: 'Motiva Sans Bold', serif !important;
}
.title-row{
    margin: 0 !important;
    color: #2e186a !important;
}
.sub-title{
    color: #3D56B2 !important;
}